@page "/"
@namespace ToDoApp
@inherits ListBase

<h1 class="main__title">Мои дела</h1>

<div class="main__todolist todolist">
    @{ 
        var num = 1; 
        @foreach (var item in this.items.Where(x => x.State != ToDoState.Finished).OrderBy(x => x.Created))
        {
            <ItemCard Value="item" RowNumber="num++" ValueChanged="ItemChanged" />
        }
        <NewItemCard RowNumber="num++" Save="AddItem" />
    }
</div>

@code {
    private async Task AddItem(ToDoItem item)
    {
        this.items.Add(item);
        await Storage.SetAsync(Consts.ItemsStorageKey, items);
    }
}